//artifactory.cloud.cms.gov/artifactory/api/npm/acoms-groups/:_authToken=cmVmdGtuOjAxOjE3NDE4NzQzMjY6S2dONUVJMTVydUFYTUdBSlMzQ2g0ZWhzYU5j
//artifactory.cloud.cms.gov/artifactory/api/npm/acoms-libs/:_authToken=cmVmdGtuOjAxOjE3NDE4NzQzMjY6S2dONUVJMTVydUFYTUdBSlMzQ2g0ZWhzYU5j
